@media only screen and (max-width:1800px){
	.linkedin-img{
		margin-left: 11%;
	}
	.confirm-email-form{
		padding-top: 100px;
    padding-bottom: 100px;
	}
	.signin-head h2{
		font-size:42px;
	}
	.sign-in-form,.sign-up-form,.dapp-signin-form{
	padding-top:140px;
}
}

@media (max-width:1440px){
.sign-up-form{
	padding-top:140px;
}
.sign-up-form,.sign-in-form,.dapp-signin-form {
    max-width: 490px;
}
.dapp-2f-auth-block{
	    padding: 32px 32px 32px 32px;
}
.dapp-2f-auth-block h3{
	font-size:22px;
}
.dapp-2f-auth-block h3 span{
	font-size:14px;
}
.dapp-2f-auth-block-right {
    max-width: 100px;
}
}
@media only screen and (max-width:1280px){
	.sign-up-form {
		padding-left:40px;
	}
	.confirm-email-form{
		padding-left:40px;
		padding-right:40px;
	}
}
@media (max-width:1024px){
.sign-up-form, .sign-in-form,.dapp-signin-form {
    max-width: 400px;
}
.top-corner,.bottom-corner {
    max-width: 183px;
}
.sign-up-bg-image{
	padding: 119px 60px;
}
.sign-up-form, .sign-in-form,.dapp-signin-form {
	padding-top: 100px;
}
.signin-head h2 {
    font-size: 38px;
}
.dapp-2f-auth-block h3 {
    font-size: 18px;
}
.dapp-2f-auth-block h3 span {
    font-size: 13px;
}
.dapp-2f-auth-block h3{
	flex-wrap: wrap;
}
.dapp-2f-auth-block h3 span{
	margin-left:0px;
}
.dapp-request-otp p{
	font-size:24px;
}
}
@media (min-width:768px) and (max-width:991px){
	.dapp-2f-auth-block h3 span{
	margin-left:20px;
}
}
@media (max-width:768px){
.sign-up-form, .sign-in-form,.dapp-signin-form{
    margin-bottom: 30px;
}
.sign-up-form, .sign-in-form,.dapp-signin-form {
    max-width: 638px;
}
.confirm-email-form{
	height:auto;
}
}
@media (max-width:767px){
	.sign-up-bg-image,.sign-in-bg-image {
    background-size: cover;
    margin-bottom: 15px;
	}
	.terms-txt {
    margin: 0;
}
.sign-up-form {
    padding-top: 60px;
    padding-left: 0;
}
.signup-head h2,.signin-head h2{
	font-size: 34px;
    line-height: 48px;
	justify-content:center;
	margin-bottom: 20px;
}
.dapp-header-logo {
    margin-bottom: 32px;
}
.top-corner,.bottom-corner{
	max-width:200px;
}
.sign-up-bg-image{
	padding:40px;
}
.linkedin-img {
   justify-content: flex-start;
   margin-top:20px;
}
.linkedin-img img{
	max-width:80px;
	
}
.signup-head,.signin-head {
    text-align: center;
}
.sign-up-form, .sign-in-form,.dapp-signin-form {
    padding-top: 40px;
}
.confirm-email-form{
	padding-top:100px;
}
.confirm-email-form {
    padding-left: 10px;
    padding-right: 10px;
}
.confirm-email-form {
    padding-top: 40px;
}
.dapp-recovery-block{
	padding:20px;
}
.dApp-request-btn{
	justify-content:center;
}
.form-input-label {
    text-align: center;
}
.confirm-num-key ul {
    justify-content: center;
}
.dapp-recovery-block-txt {
    text-align: center;
}
.dapp-2f-auth-block h3{
	flex-direction:column;
	align-items:center;
}
.dapp-browser-md {
    text-align: center;
}
.dapp-accessible-place-top {
    flex-direction:column;
	    text-align: center;
}
.dapp-accessible-place-top p{
	margin-top:15px;
}
.browser-recovery-block{
	padding:20px;
}
.browser-recovery-block {
    text-align: center;
}
.browser-num-key ul {
    justify-content: center;
}
.change-number-blocks {
    flex-direction: column;
}
.dApp-confirm-btn{
	margin-left:0px;
	margin-top:15px;
}
.dapp-request-otp,.dapp-request-otp p ,.dapp-otp-sent-success{
    text-align: center;
	justify-content:center;
}
.signin-head .recovrd-pswrd-txt,.W-230{
	max-width:100%;
}
.sign-up-button,.browser-next,.dApp-confirm-btn {
    width: 100%;
}
.signin-authenticator-enable-head h3,.signin-authenticator-enable-head p{
    text-align: center;
}
.dapp-2f-auth-block{
	flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}
@media (max-width:580px){
	.verfication-key ul li input {
    width: 36px;
    height: 50px;
    padding: 0;
    font-size: 16px;
	}
	.modal-content-inner-body {
    padding: 20px;
}
.modal-content-inner-body .signin-check{
	flex-direction:column;
	    align-items: flex-start;
}
.modal-content-inner-body .signcheckbox-container{
	margin-bottom:10px;
}
.modal-content-inner-body p{
	font-size: 20px;
    line-height: 140%;
}
.modal-content-inner-body h3{
	font-size:28px;
}
.enoch-dapp-modal-block .modal-content{
	margin-left:10px;
	margin-right:10px;
}
.mailbox-head h2{
	font-size: 32px;
    line-height: 140%;
}
.mailbox-txt{
	    font-size: 24px;
    line-height: 34px;
}
.dapp-verify-mail span{
	width:100px;
}
.verified-header-logo {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}
.verified-txt1{
	font-size:28px;
	line-height:140%;
}
.verified-body h2{
	font-size:40px;
}
.verified-body{
	margin-bottom:40px;
	height: 700px !important;
}
.confirm-email-form .signin-head h3{
	font-size:28px;
	line-height:38px;
}
.signin-head p{
	font-size:18px;
}
.signin-head .recovrd-pswrd-txt {
    font-size: 16px;
}
}

@media (max-width:480px){
	.dapp-recovery-phn{
		font-size:14px;
		text-align:left;
	}
	.dapp-recovery-phn span {
    max-width: 34px;
	}
	.browser-alert span {
    margin-right: 8px;
    width: 58px;
}
.dapp-backup-code ul li{
	    font-size: 16px;
    line-height: 48px;
}
.dapp-backup-code h3{
	text-align:center;
	font-size:18px;
}
.dapp-backup-code{
	padding:20px;
}
.dapp-accessible-bottom ul{
	justify-content:center;
}
.dapp-accessible-bottom ul li{
	text-align:center;
	
}
.dapp-accessible-bottom ul li a{
	font-size:18px;
}
.signin-authenticator-enable-options-block input[type="radio"]:checked + label, .signin-authenticator-enable-options-block input[type="radio"]:not(:checked) + label{
	font-size:16px;
}
.signup-head h2, .signin-head h2 {
    font-size: 24px;
    line-height: 36px;
    justify-content: center;
    margin-bottom: 20px;
}
.signin-authenticator-enable-head h3{
	font-size:20px;
}
.signin-authenticator-enable-options-block p{
	font-size:13px;
}
}