@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
li{
	list-style:none;
}
ul{
	padding:0;
	margin-bottom:0px;
}
label{
	margin-bottom:0px;
}
a{
	text-decoration:none;
	color: #8D35FD;
}
a:hover{
	text-decoration:none;
	color: #5A00CC;
}
button:focus{
	outline:none;
}
.white-bg{
	background:#fff;
	padding-bottom: 110px;
}
.padd-0{
	padding:0;
}
.red-color{
	color:#FF6451;
}
/*--Signup--*/
.dapp-header-logo {
    margin-bottom: 12px;
}

.sign-up-form{
/* 	display: flex;
	flex-direction:column;   
    justify-content: center;
    height: 100%; */
	    max-width: 607px;
    width: 100%;
	margin:0 auto;
	padding-top:200px;
}
.signup-head h2{
	    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
	margin-bottom:20px;
}
.account-cat {
    display: flex;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	color: #3F434A;
	align-items: center;
		margin-bottom:24px;

}
.dAppp-account-group {
    margin-left: 18px;
}
.account-cat [type="radio"]:checked,
.account-cat [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.account-cat [type="radio"]:checked + label,
.account-cat [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #3F434A;
	margin-bottom:0px;
}

.account-cat [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 1px dashed #C6C9CC;
}
.account-cat [type="radio"]:checked + label:before{
	content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
	background: #FF8A00;
}

.account-cat [type="radio"]:not(:checked) + label:after {
    content: '';
	width: 18px;
    height: 6px;
    border-radius: 50%;
    background: #087BE0;
    position: absolute;
    top: 4px;
    left: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.account-cat [type="radio"]:checked + label:after{
	content: '';
	position: absolute;
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.account-cat [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
/* .account-cat [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
/* .sign-up-form .sign-form-input select{
	    width: 100%;
	height: 45px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
	text-indent:10px;
	color: #738C9D;
	font-size: 12px;
	padding:0;
	cursor: pointer;
} */
.field-icon {
    z-index: 2;
    color: #D4D8DD;
}
.eye2{
	display:none;
}
.sign-form-input .eye-slash{
	top:18px;
}
.eye-slash .eye1{
	display:none;
}
.eye-slash .eye2{
	display:block;
}
/* .datepick{
	box-shadow: none;
}
.gj-datepicker [role=right-icon] {
    display: none;
}
.gj-picker .fa{
	color:#000;
} */

.sign-form-input{
	    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 5px;
    position: relative;
    height: 56px;
    border: 1px solid #D4D8DD;
    border-radius: 2px;
}
.sign-form-input  input{
	width: 100%;
	outline: none;
	font-size: 14px;
	background-color: transparent;
    height: 56px;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
	padding:0;
	text-indent:16px;
	color: #3F434A;
}
.sign-form-input ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8A9099;
  opacity: 1; /* Firefox */
}

.sign-form-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8A9099;
}

.sign-form-input ::-ms-input-placeholder { /* Microsoft Edge */
  color: #8A9099;
}
/* .sign-form-input::before{
	content: '';
	height: 100%;
	width: 0;
	position: absolute;
	left: 50%;
	z-index: -1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
} */
.sign-form-input:focus-within::before{
	left: 0;
	width: 100%;
}
.sign-form-input span {
    position: absolute;
    top: 13px;
    right: 18px;
    cursor: pointer;
}
.placeholder{
	position: absolute;
    top: 17px;
    left: 16px;
    z-index: -1;
    font-size: 14px;
    line-height: 19px;
    color: #8A9099;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.placeholder-up{
	top: 2px;
	left: 13px;
	font-size: 10px;
}
.sign-form-drop-box{
	position:relative;
	    height: 56px;
    padding-left: 16px;
}
.sign-form-droplist:after{
	content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8A9099;
    display: flex;
    align-items: center;
    height: 100%;
	
}
.sign-form-droplist{
	display:flex;
	    width: 100%;
    height: 100%;
    align-items: center;
	text-decoration:none!important;
	color: #8A9099;
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
}
.sign-form-droplist:hover{
	color: #8A9099;
}
.sign-form-content{
	display:none;
	    position: absolute;
    width: 100%;
    z-index: 9;
    background: #fff;
    padding: 10px 0px 10px 15px;
    border: 1px solid #D4D8DD;
    top: 56px;
}
.sign-form-content.show{
	display:block;
}
.sign-form-drop-scrollable{
	max-height: 300px;
    overflow-y: scroll;
	margin-bottom:0px;
}
.sign-form-drop-scrollable li{
	cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 0px;
    color: #3F434A;
}
.sign-form-droplist.select-active{
	color: #3F434A;
}
.signup-phn{
	width:64px;
}
.sign-form-drop-box2 {
    position: relative;
    height: 54px;
    padding-left: 16px;
	background: #F8F8F8;
}
.sign-form-droplist-phn:after{
	    content: "\f0d7";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8A9099;
    display: flex;
    align-items: center;
    height: 100%;
}
.signup-poohe-content {
    z-index: 1;
}
.signup-poohe-content .sign-form-drop-scrollable{
	overflow:auto;
	height:auto;
}


.signup-form-bttm-xt{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 24px;
}
.signup-check{
	margin-bottom:30px;
}
/*checkbox*/
.signcheckbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    /* height: 0; */
    /* width: 0; */
}
.signcheckbox-container {
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #5D5D5D;
}

.signcontactcheckmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #F8F8F8;
    border: 1px solid #E8E9EB;
    box-sizing: border-box;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.signcheckbox-container input:checked ~ .signcontactcheckmark {
  background: #FF8A00;
border: 1px solid #FF8A00;
}

/* Create the signcontactcheckmark/indicator (hidden when not checked) */
.signcontactcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the signcontactcheckmark when checked */
.signcheckbox-container input:checked ~ .signcontactcheckmark:after {
  display: block;
}

/* Style the signcontactcheckmark/indicator */
.signcheckbox-container .signcontactcheckmark:after {
  left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}




.signup-checkbox {
    display: inline-flex;
    margin-bottom: 1.5rem;
/* 	margin-top: 1rem; */
	width: 100%;
}
.signup-checkbox label {
    position: relative;
	margin-top:3px;
}
.signup-checkbox input {
    z-index: 1;
    display: block;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
}
.signup-checkbox input:checked ~ .checkmark {
    background-color: #fff;
}
.signup-checkbox .checkmark {
    position: absolute;
    top: 2px;
    height: 12px;
    width: 12px;
    /* background-color: #eee; */
    border: 1px solid #087BE0;
    border-radius: 2px;
}
.signup-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.signup-checkbox .checkmark:after {
	 content: "";
    position: absolute;
    display: none;
    left: 3px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid #087BE0;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sign-up-button{
        width: 154px;
    height: 53px;    
    background: #FF8A00;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
	border:none;
    border-bottom: 3px solid;
    border-bottom-color: rgba(0,0,0,.2);    
	border-top: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 0;
    cursor: pointer;
    padding: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
	margin-bottom:20px;
}

.sign-up-button:hover{
	background: #FF8A00;
	color:#fff;
	border:none;
}
.signup-bttm-xt {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1E1F2D;
	    display: block;
}
.signup-bttm-xt a{
    color: #8D35FD;
	font-weight: 700;
	text-transform:uppercase;
}
.signup-bttm-xt a:hover{
	color: #5A00CC;
}
.sign-up-bg-image {
    background: linear-gradient(
210.81deg
, #0C00E6 4.82%, #8519DA 105.23%);
    height: 100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
        padding: 200px 60px;
	position:relative;
}
.top-corner {
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-corner {
    position: absolute;
   bottom: 0;
    right: 0;
}
.twitwr-img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 26px;
    margin-bottom: 40px;
}
.linkedin-img{
    display: flex;
    width: 100%;
    margin-top: -5%;
	margin-left:18%;
}
/*--End--*/
/*error*/
.error-msg {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #F03B31;
    /* border-color: #F03B31; */
}
.error-block{
	border:1px solid #F03B31;
}
/*sign in*/
.dapp-signin-form{
	max-width:600px;
	width: 100%;
    margin: 0 auto;
    padding-top: 200px;
}
.sign-in-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
}
.signin-head h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 24px;
}
.signin-head p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}

.input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 16px;
}
.signin-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom:22px;
}
.signin-check a{
	font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
}
.signin-btn{
	text-transform:none!important;
}
.signin-bttm-xt {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1E1F2D;
    display: block;
}
.green-boeder{
	border:1px solid #2BBD54;
}
.sign-form-input input[type="password"]{
	letter-spacing: 5px;
    font-weight: 700;
    font-size: 18px;
}
.sign-form-input input[type="password"]::placeholder{
	letter-spacing: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3F434A;
}
/*modal*/
.enoch-dapp-modal-block .modal {
    display: none;
    position: fixed;
    z-index: 9;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}
.enoch-dapp-modal-block  .modal-content {
    margin: auto;
    padding: 20px;
    border: none;
    width: 100%;
    align-items: flex-start;
    max-width: 600px;
    margin: auto;
	padding:0px;
	background: #FAFAFA;
}
.dapp-modal-head {
    padding: 47px;
    background: #6B02FB;
    width: 100%;
}
/*  .enoch-dapp-modal-block .close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    opacity: 1;
    position: absolute;
    right: 16px;
    top: 16px;
} */
.enoch-dapp-modal-block  .modal.open{
	display:flex;
}
.modal-content-inner-body {
    padding: 34px 50px 34px 47px;
	width:100%;
}

.modal-content-inner-body h3{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}
.modal-content-inner-body p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 180%;
    color: #000000;
}
.verfication-key {
    margin-top: 20px;
	margin-bottom:26px;
}
.verfication-key ul{
    display: flex;
    justify-content: space-between;
}
.verfication-key ul li input{
	width:74px;
	height:56px;
	border: 1px solid #D4D8DD;
box-sizing: border-box;
border-radius: 2px;
outline:none;
font-weight: 600;
font-size: 28px;
line-height: 38px;
display: flex;
align-items: center;

/* Dark2 */
text-align: center;
color: #3F434A;
}
.verfication-key ul li input:focus{
	border: 1px solid #2BBD54;
	box-shadow:none;

}
.modal-content-inner-body .dapp-modal-txt2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
	margin-bottom:24px;
}
.verfication-key h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 20px;
}
.modal-content-inner-body .modal-bttm-xt {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;

    color: #333333;
}
/*mailbox*/
.mailbox-head h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 24px;
}
 .mailbox-txt{
	font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
    max-width: 512px;
color: #333333;
margin-bottom:24px;
}
.mailbox-txt2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
    margin-bottom: 24px;
}
.dapp-verify-mail {
    display: flex;
    align-items: center;
	margin-bottom:32px;
	max-width:500px;
}
.dapp-verify-mail span{
	margin-right:16px;
}
.dapp-verify-mail p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 170.23%;
    /* display: flex; */
    /* align-items: center; */
    text-transform: uppercase;
    color: #373D45;
    margin-bottom: 0px;
}
.dapp-verify-mail p  a{
	color: #FF891D;
}
.dapp-verify-btn{
	width:180px;
}
/*emaill verified*/
.verified-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px 40px;
	flex-direction: column;
	position:relative;
}
.verified-body h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #000000;
	margin-bottom:10px;
}
.verified-txt1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 170.23%;
    text-align: center;
    color: #087BE0;
    margin-bottom: 10px;
}
.verified-txt2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    text-align: center;
    color: #4D5B61;
    margin-bottom: 24px;
}
.verified-mail-btn{
	width:212px;
	text-transform:none;
}
.verified-header-logo {
    position: absolute;
    top: 64px;
    left: 24px;
}
.dapp-2f-auth-block {
    display: flex;
    align-items: center;
	background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(161 163 176 / 25%);
    border-radius: 8px;
    padding: 32px 37px 32px 48px;
	justify-content: space-between;
	margin-top:32px;
	min-height:207px;
	position:relative;
	border: 1px solid transparent;
}
.dapp-2f-auth-block h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #616161;
}
.dapp-2f-auth-block h3 span{
	font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

text-transform: uppercase;
    margin-left: 20px;

color: #33B413;
}
.dapp-2f-auth-block p{
    max-width: 364px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.auth-active{
	background: #FFFFFF;
border: 1px solid #40DE89;
box-sizing: border-box;
box-shadow: 0px 0px 12px rgba(161, 163, 176, 0.25);
border-radius: 8px;
}
.auth-select {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.auth-active .auth-select {
	display:block
}
/*verified email*/
.confirm-email-form {
       max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
	    display: flex;
    flex-direction: column;
    justify-content: center;
	/* height: 100vh; */
}
.dapp-recovery-block {
    background: #FBFDFE;
    border: 1px solid #9FBDBF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 40px;
	margin-bottom:32px;
	margin-top:32px;
}
.form-input-label {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 16px;
}
.dapp-recovery-block .sign-form-input{
	max-width:500px;
	margin-bottom:16px;
}
.dapp-recovery-block-txt {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
	margin-bottom:0px;
}
.confirm-num-key ul {
	justify-content:flex-start;
}
.confirm-num-key ul li {
    margin: 0px 5px;
	
}
.confirm-num-key ul li:first-child{
	margin-left:0px;
}
.confirm-num-key ul li:last-child{
	margin-right:0px;
}
.confirm-email-form .signin-head h3{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 0;
}
.dapp-recovery-phn {
    background: #E8F3E6;
    border-radius: 70px;
    display: flex;
    align-items: center;
    max-width: max-content;
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #1A851E;
    padding: 8px 40px 8px 8px;
}
.dapp-recovery-phn span{
	margin-right:10px;
}

/*browser verification*/
.browser-recovery-block {
    background: #FBFDFE;
    border: 1px solid #9FBDBF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 40px;
    margin-top: 32px;
}
.browser-recovery-block h3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 56px;
}
.browser-recovery-block h3 span{
	font-weight:700;
}
.browser-app-block {
    display: flex;
    justify-content: center;    

    align-items: center;
}
.browser-app-block span{
	    margin-bottom: 34px;
}
.browser-bttm-txt{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #6B02FB;
    margin-bottom: 0px;
	    margin-top: 20px;
		text-align:center;
}
.browser-alert {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #C78403;
    margin-bottom: 32px;
}
.browser-alert span{
	margin-right:8px;
}
.browser-next{
	width:160px;
}
.dapp-browser-md {
	margin-bottom:32px;
}
.dapp-browser-md h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 14px;
}

.dapp-browser-md p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 180%;
    color: #000000;
}
.dapp-accessible-place-top {
    display: flex;
    align-items: center;
	margin-bottom:40px;
}
.dapp-accessible-place {
    background: #FBFDFE;
    border: 1px solid #9FBDBF;
    box-sizing: border-box;
    border-radius: 8px;
	padding:32px;
	margin-bottom:32px;
}
.dapp-accessible-place-top>div {
    background: #F99806;
    border-radius: 2px;
    padding: 13.6px;
    margin-right: 32px;
}
.dapp-accessible-place-top p{
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    color: #000000;	
}
.dapp-accessible-place-top p span{
	font-weight:700;
}
.dapp-backup-code {
    background: #FFFFFF;
    border: 1px solid #9FBDBF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 18px 32px;
	margin-bottom:24px;
}
.dapp-backup-code h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 24px;
}
.dapp-backup-code ul{
	max-width: 537px;
}
.dapp-backup-code ul li {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 60px;
    color: #6B6E6F;
	    display: flex;
    justify-content: space-between;
}
.dapp-accessible-bottom ul{
    display: flex;
    justify-content: flex-end;
	align-items:center;
}
.dapp-accessible-bottom ul li{
	margin-left:26px;
}
.dapp-accessible-bottom ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}
.dapp-backup-code ul li span{
	max-width:152px;
	width:100%;
}
.browser-num-key ul{
	justify-content:flex-start
}
.browser-num-key ul li input{
	width:53px;
}
.browser-num-key ul li:first-child {
    margin-left: 0px;
}
.browser-num-key ul li {
    margin: 0px 5px;
}

/*change number popup*/
.enoch-dapp-modal-block .dapp-change-number{
	max-width:620px;
	position:relative;
}
.dapp-change-number .close {
    position: absolute;
    top: 14px;
    right: 14px;
}
.change-no-header {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    padding: 24px 32px 20px;
    border-bottom: 1px solid #D4D8DD;
	margin-bottom:16px;
	width:100%;
}
.dapp-change-number-nxt{
	padding:0px 30px;
	margin-bottom:32px;
}

.dapp-change-number-nxt p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 20px;
}
.change-number-blocks {
    display: flex;
    align-items: center;
}
.dApp-confirm-btn {
    margin-left: 10px;
}
.signin-head .recovrd-pswrd-txt{
	font-size:20px;	
    max-width: 450px;
}
.signin-head .new-passwrd-change{
	font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 160%;
/* or 21px */
max-width:440px;
margin-bottom;24px;
color: #333333;
}
.dapp-request-otp h3{
	    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 10px;
}
.daap-request-otp-block {
    max-width: 560px;
    width: 100%;

}
.dapp-request-otp p{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
	margin-bottom:32px;
}
.dapp-otp-sent-success {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 40px;
}
.dapp-otp-sent-success span{
	margin-right:20px;
}
.W-230{
	max-width:230px;
	width:100%;
}

.signin-authenticator-enable-head h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 5px;
}
.signin-authenticator-enable-head p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 24px;
}
.signin-authenticator-enable-form {
    padding: 60px 46px;
}

.signin-authenticator-enable-options-block input[type="radio"]:checked,
.signin-authenticator-enable-options-block input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.signin-authenticator-enable-options-block input[type="radio"]:checked + label,
.signin-authenticator-enable-options-block input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    display: inline-block;
       font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
	margin-bottom:3px;
}

.signin-authenticator-enable-options-block input[type="radio"]:not(:checked) + label:before {
        content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #F8F8F8;
    border: 1.5px solid #E8E9EB;
}
.signin-authenticator-enable-options-block input[type="radio"]:checked + label:before{
	content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 28px;
    height: 28px;
    /* border-radius: 50%; */
    background: url(../images/sChecked.png) no-repeat;
}
.signin-authenticator-enable-options-block p{
	    padding-left: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
}
.signin-authenticator-enable-options-block {
    margin-bottom: 18px;
	 padding: 30px 20px;
	 border: 1px solid #C6C9CC;

}
.shighlight{
	border: 1px solid #7521E2;
    box-sizing: border-box;
    padding: 30px 20px;
}
.signin-authenticator-enable-options {
    margin-bottom: 30px;
}
.signin-authenticator-next{
	height:45px;
	width:137px;
}